#full-container{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 100%;
    place-items: center;
    background-color: #2E0249;
}

#header{
    width: 80%;
    display: grid;
    grid-auto-flow: row;
    grid-template-rows: 30% 70%;
    background-color: #2E0249;
    padding: 0.5rem;
    row-gap: 0.5rem;
}

.inblack{
    color: #F806CC;
}

#selfie-container{
    display: grid;
    place-content: center;
    background-color: #2E0249;
    border: 1px solid #F806CC;
}

#selfie{  
    width: 12.5rem;
    height: 12.5rem;
    border-radius: 50%;
    border: 5px solid #570A57;
    margin-top: 15rem;

}

#info{
    display: grid;
    grid-auto-flow: row;
    grid-template-rows: auto;
    text-align: center;
    place-content: center;
}

#full-content{
    width: 80%;
    height: auto;
    place-self: center;
    background-color: #570A57;
    padding: 1rem;
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: 50% 50%;
}

@media screen and (max-width: 900px) {
    #full-content{
        grid-template-columns: 100%; 
    }
}

@media screen and (min-width: 1920px) {
    #full-content{
        grid-template-columns: 16% 16% 16% 16% 16% 16%; 
    }
}

.blocky{
    display: inline-block;
    border: 1px solid #F806CC;
    padding: 0.5rem;
    margin: 0.5rem;
}

.textie {
    padding-left: 3rem;
}

.isblack{
    background-color: #2E0249;
    padding: 0.1rem;
    text-align: center;
}

.beanie-container{
    width: inherit;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.beanie{
    padding: 0.3rem;
    margin: 0.2rem;
    background-color: #2E0249;
    color: #570A57;
    border-radius: 5%;
    width: fit-content;
    font-size: smaller;
    line-height: 5%;
    font-weight: 400;
    box-shadow: 0.1rem 0.1rem 0.1rem 0.1rem #F806CC;
}

h1,h2,h3,p{
    font-family: 'Roboto Mono';
    color: #F806CC;
}

h2{
    font-weight: 500;
}

#oneliner{
    color: #F806CC;
    font-weight: 800;
    text-align: center;
}

.night-button{
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background-color: #F806CC;
    background-image: url("./images/night.svg");
    background-size: 1.8rem 1.8rem;
    border: 1px solid #570A57;
    margin: 0.5rem;
    place-self: end;
    cursor: pointer;
}

.night-button:hover{
    transform: scale(1.1);
}